@model DirectoryExplorer.Models.DirectoryModel

@if (Model.ChildDirectories.Any())
{
    <ul class="text-start">
        @foreach (var childDirectory in Model.ChildDirectories)
        {
            <li>
                <a asp-action="DirectoryDetails" asp-route-parent="@Model.Name" asp-route-current= "@childDirectory.Name" >
                    @childDirectory.Name
                </a>
            </li>
        }
    </ul>
}